/* ESTILOS */

/* FONTS */

/*Roboto font 300, 400, 700*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* BODY */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;

}


/* HEADER */
 .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

}

  .navbar {
    background-color:lightsalmon;
    box-shadow:0px 0px 15px 1px #ccc;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .active {
    border-bottom: 2px solid darkmagenta;
    padding: 0px 5px 5px 0px;
  }

  .ul {
    display: inline-flex;
    list-style: none;
    padding: 10px;
  }

  .li {
    margin: 0px 10px;
  }



/* MAIN */

  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .h1-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

  }

  .h2-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: blueviolet;
    display: flex;
    align-items: center;
    padding: 10px 0px; 


  }

  .h3-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: blueviolet;
    display: flex;
    align-items: center;
    padding: 10px 0px;

  }

  .h4-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: blueviolet;
    display: flex;
    align-items: center;
    padding: 10px 0px;

  }

  .h5-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: darkgray;
    display: flex;
    align-items: center;
    padding: 10px 0px;

  }


  .descuento {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    background-color: blueviolet;
    width: fit-content;
    display: flex;
    padding: 10px 10px;
    border-radius: 10px ;

  }

  .main-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

  }


  .item-count {
    padding: 20px;
    max-width: fit-content;
    background-color: lightsalmon;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .contador {
    padding: 20px;
    max-width: fit-content;
    background-color: lightsalmon;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  /* CONTENEDORES */
  
  .item-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

  }

  .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .item {
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }

    .item:hover {
      box-shadow: 0px 0px 10px 0.2px #c6c6c6;
    }

  .item-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

 .item-detail {
  width: 650px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.detail {
  width: 650px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

  .img-detail {
    max-width: 70vh;
  }

  .form-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .cart-container{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content:baseline;
    align-items:baseline;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .cart {
    margin: 10px;
    padding: 10px;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
  }


/* FOOTER */
  .footer {
    background-color: lightsteelblue;
    color: black;
    box-shadow:0px 0px 15px 1px #ccc;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .text-footer {
    background-color:snow;
    color: black;
    box-shadow:0px 0px 15px 1px #ccc;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

/* ICONS */
  .icons {
    display: flex;
    align-items: center;
  }

  
  .icon {
    color: red;
    font-weight: 700;
    padding: 5px;
  }


/* BUTTONS */

  .btn-count {
    display: flex;

    margin: 5px;
    padding: 10px;

  }
  
  .btn-detail {
    font-family: 'Roboto', sans-serif;
    color: blueviolet;
    padding: 10px 0px;
    display: flex;

  } 

  .btn-input{
    display: flex;
    margin: 5px;
    padding: 10px;
  }

/* IMG */

  .logo {
    max-width: 60px;
    margin: 0 20px;
  }

  .img-item {
    max-width: 200px;
  }

.cart-img {
  max-width: 50px;
}
  