/* ESTILOS */

/* FONTS */

/*Roboto font 300, 400, 700*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* BODY */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;

}


/* HEADER */
  .navbar {
    background-color:lightgrey;
    box-shadow:0px 0px 15px 1px #ccc;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .ul {
    display: inline-flex;
    list-style: none;
    padding: 10px;
  }

  .li {
    margin: 0px 10px;
  }



/* MAIN */

  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .h1-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

  }

  .h2-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px; 


  }

  .h3-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;

  }

  .descuento {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-color: cadetblue;
    display: flex;
    padding: 10px 10px;
    border-radius: 10px ;

  }

  .main-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

  }


  .item-count {
    padding: 20px;
    max-width: fit-content;
    background-color: lightsalmon;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .contador {
    padding: 20px;
    max-width: fit-content;
    background-color: lightsalmon;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  /* CONTENEDORES */
  
  #item-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .item {
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }

    .item:hover {
      box-shadow: 0px 0px 10px 0.2px #c6c6c6;
    }



/* FOOTER */
  .footer {
    background-color:coral;
    color: black;
    box-shadow:0px 0px 15px 1px #ccc;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .text-footer {
    background-color:snow;
    color: black;
    box-shadow:0px 0px 15px 1px #ccc;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

/* ICONS */
  .icons {
    display: flex;
    align-items: center;
  }

  
  .icon {
    color: red;
    font-weight: 700;
    padding: 15px;
  }


/* BUTTONS */

  .btn-count {
    display: flex;

    margin: 5px;
    padding: 10px;

  } 

/* IMG */

  .logo {
    max-width: 200px;
  }

  .img-item {
    max-width: 200px;
  }


  